<% if @errors %>
  <% @errors.full_messages.each do |error_message| %>
    alert("<%= raw error_message %>")
  <% end %>
<% else %>
  alert("Created")
  $("#users").append("<%= @user_name %>");
  $("input:text").val("");
<% end %>
