<h1>Users#index</h1>
<div id="users">
  <% @user_names.each do |user_name| %>
    <p><%= user_name %></p>
  <% end %>
</div>

<h2>
  New user
</h2>
<%= form_for @new_user, remote: true do |f| %>
  <p> <%= f.text_field :name, placeholder: "name" %> </p>
<p> <%= f.text_field :status, placeholder: "status" %> </p>
<p> <%= f.text_field :role_id, placeholder: "role_id" %> </p>
<%= f.submit "create!" %>
<% end %>
